- form_for(@item, :html => { :multipart => true }) do |f|
  = f.error_messages
  
  = f.label :name do
    %span Name:
    = f.text_field :name
  
  = f.label :price_in_dollars do
    %span Price:
    = f.text_field :price_in_dollars
  
  = f.label :photo do
    %span Photo:
    = f.file_field :photo

  %fieldset.buttons
    = f.submit
