<% form_for @item do |f| %>

  <fieldset>
    <label for='item_name'>
      <span>Name</span>
      <%= f.text_field :name %>
    </label>
  </fieldset>
  
  <fieldset>
    <label for='item_price'>
      <span>Price</span>
      <%= f.text_field :price %>
    </label>
    
    <label for='item_description'>
      <span>Description</span>
      <%= f.text_field :description %>
    </label>
  </fieldset>
  
  <fieldset>
    <label for='item_when'>
      <span>When</span>
      <%= f.date_select :when %>
    </label>
    
    <label for='item_where'>
      <span>Where</span>
      <%= f.text_field :where %>
    </label>
  </fieldset>
  
  <fieldset>
    <button type="submit">Post</button>
    <%= link_to 'Cancel', dashboard_path %>
  </fieldset>
<% end %>