!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type" }
    %title= Boughtstuff::SITE_TITLE

    = stylesheet_link_merged :base

    %meta{ :name => "asset-host", :content => Boughtstuff::ASSET_HOST }

  %body
    = partial :'shared/toppanel'
    = partial :'shared/usernav'
    
    = yield

    = javascript_include_merged :base
