!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "asset-host", :content => asset_host_with_prefix }
    / [if gte IE 7]<meta http-equiv="X-UA-Compatible" content="IE=7" />    
    %title= t('site_title')
    
    = stylesheet_link_merged :base



  %body{ :class => (logged_in? ? 'logged-in' : 'logged-out') }
    = partial :'shared/toppanel'
    = partial :'shared/usernav'
    
    = yield

    = javascript_include_merged :base
  
    - if Main.production?
      :javascript
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

      :javascript
        try {
        var pageTracker = _gat._getTracker("UA-15297465-1");
        pageTracker._trackPageview();
        } catch(err) {}
    = partial :'shared/footer'
